<mjml>
    <mj-head>
      <mj-attributes>
      </mj-attributes>
      <!-- CSS-STYLE -->
      <mj-style inline="inline"> p, li {margin:0 !important; padding:0; line-height:1.4em; font-family:'Open Sans', Helvetica, Arial, sans-serif;}
      </mj-style>
    </mj-head>
    <!-- BODY -->
    <mj-body>
      <mj-section background-color="#ffffff">
        <mj-column width="550px">
            <mj-spacer>
            </mj-spacer>
            <mj-spacer>
            </mj-spacer>
          <mj-text font-size="28px" font-weight="700">
            <p>Hello World!
            </p>
          </mj-text>
          <mj-text font-size="14px">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia consequatur placeat reprehenderit excepturi, tempore, id quos quaerat ab fuga.
            </p>
            <p>
              <br data-cke-filler="true">
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, voluptate.
            </p>
            <p>
              <br data-cke-filler="true">
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos alias rerum nemo ducimus modi perspiciatis.
            </p>
          </mj-text>
          <mj-spacer></mj-spacer>
          <mj-text font-size="11px" color="#6d6d6d">
            <p>{unsubscribe_text} | {webview_text}</p>
          </mj-text>
        <mj-spacer></mj-spacer>
        <mj-spacer></mj-spacer>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>