{% block _config_pageconfig_widget %}
<h4 class="fw-sb mt-48 mb-xs">{{ 'mautic.config.tab.pageconfig'|trans }}</h4>
<div class="text-muted small pb-md">{{ 'mautic.core.config.header.pageconfig.description'|trans }}</div>
<div class="row">
    <div class="panel panel-default mb-md">
        <div class="panel-body">
            <div class="row">
                {% for name, f in form.children %}
                <div class="col-xs-12">
                    {{ form_row(f) }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
